/* Estilos generales */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: rgba(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgba(255, 255, 255);
  font-family: 'Lucida Console', 'Courier New', monospace;
}

.contenedorPrincipal {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

/* Estilos de los botones */
button {
  height: 200px;
  width: 200px;
  margin: 20px;
  border: none;
  border-radius: 20px;
  margin: 3px;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.865);
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

.active {
  opacity: 0.5;
  transition: 0.2s;
}

#red.active {
  background: rgb(255, 70, 70);
}

#green.active {
  background: rgba(35, 84, 35);
}

#blue.active {
  background: rgba(70, 70, 255);
}

#yellow.active {
  background: rgba(255, 255, 50);
}

/* Estilos de el formulario de comentarios */
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[type="text"],
form input[type="mail"] {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgba(204, 204, 204);
  font-size: 16px;
  width: 250px;
}

form input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background: rgb(26, 176, 13);
  color: rgba(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

form input[type="submit"]:hover {
  background: rgba(69, 160, 73);
}

form .commentError {
  color: rgb(255, 0, 0);
  font-weight: bold;
  margin-top: 10px;
}

/* Estilos del link a github */
.githubLink {
  margin-top: 20px;
  color: rgba(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.githubLink:hover {
  text-decoration: underline;
}

/* Estilos del modal de ingreso de nombre */
#nameModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#nameModal .box {
  background: rgb(157, 157, 157);
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  max-width: 200px;
  width: 90%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#nameModal input {
  width: 80%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(204, 204, 204);
  border-radius: 6px;
  font-size: 16px;
}

#nameModal button {
  margin-top: 15px;
  padding: 10px 20px;
  background: rgb(26, 176, 13);
  color: rgba(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

#nameModal .box p {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

#nameModal .box #nameError {
  color: rgb(255, 253, 253);
  font-weight: bolder;
  font-size: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  padding: 5px;
}

#nameModal button:hover {
  background: rgba(69, 160, 73);
}

/* Estilos del modal de juego perdido */
#lostModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#lostModal .box {
  background: rgba(255, 255, 255);
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  max-width: 200px;
  width: 50%;
  font-family: sans-serif;
}

#lostModal button {
  margin-top: 15px;
  padding: 10px 20px;
  background: rgba(214, 0, 0);
  color: rgba(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  height: 100px;
}

#lostModal .box p {
  color: rgba(0, 0, 0);
  font-size: 18px;
}

.playerName {
  color: rgba(255, 68, 68);
  font-weight: bold;
}

.disableClick {
  pointer-events: none;
}

/*media queries*/
/* Para celulares */
@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }

  .contenedorPrincipal {
    width: 60%;
    padding: 10px;
    gap: 4px;
  }

  button {
    height: 130px;
    width: 130px;
    margin: 2px;
  }
}

/* media querie para tablets horizontal y vertical*/
@media (min-width: 480px) and (max-width: 1024px) {

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 22px;
  }

  .contenedorPrincipal {
    width: 80%;
    padding: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
  }

  .contenedorPrincipal button {
    flex: 0 0 45%;
    margin: 5px;
  }

  button {
    width: 160px;
    height: 160px;
    margin: 2px;
  }

  /* Modal */
  #nameModal .box,
  #lostModal .box {
    width: 60%;
    max-width: 350px;
    padding: 25px;
  }

  #nameModal input {
    font-size: 18px;
  }

  #nameModal button,
  #lostModal button {
    width: 100px;
    height: 100px;
    font-size: 16px;
  }

  #nameError {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }

  .contenedorPrincipal {
    width: 60%;
    padding: 10px;
    gap: 4px;
  }

  button {
    height: 130px;
    width: 130px;
    margin: 2px;
  }
}