body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lucida Console', 'Courier New', monospace;
}

.contenedorPrincipal {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

}

button {
    height: 200px;
    width: 200px;
    margin: 20px;
    border: none;
    border-radius: 20px;
    margin: 3px;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.865);
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

.active {
    opacity: 0.5;
    transition: 0.2s;
}

#red.active {
    background: rgb(255, 70, 70);
}

#green.active {
    background: rgb(35, 84, 35);
}

#blue.active {
    background: rgb(70, 70, 255);
}

#yellow.active {
    background: rgb(255, 255, 50);
}